{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi there! My name is Daffa and I'm a 17 year old programmer from Indonesia. Coding has always been my true passion and I've been dedicated to honing my skills since a young age.</p>
        <p>I discovered my love for tech when I was just a kid and I've been fascinated by it ever since. I'm constantly learning and exploring new technologies, and I'm always eager to apply my knowledge to new projects. I believe that coding is a powerful tool that can be used to solve a wide range of problems and make a real difference in the world.</p>
        <p>When I'm not coding, you can usually find me playing video games or reading about the latest advancements in technology. I'm also an avid learner and I'm always looking for ways to improve my skills and knowledge.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
